<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/226408a02c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">

            <div class="container-logo">
                <!-- LOGO -->
                <div class="contenedor-logo">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="img-logo"></a>
                </div>
                <!-- BUSCADOR -->
                <div class="buscador">
                    <form action="/" class="contenedor-buscador">
                        <div class="contenedor-input">
                            <input type="text" placeholder="Buscar productos, marcas">
                            <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- COMPRA -->
            <div class="contenedor-compra">
                <i class="fas fa-hand-holding-usd"></i>
                <span class="text">
                    Comprá en cuotas y sin tarjeta de crédito
                </span>
            </div>
        </div>

        <!-- MENU Y OPCIONES -->

        <div class="container-menu">
            <!-- MENU -->
            <nav class="contenedor-menu">
                <ul>
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
            </nav>

            <!-- OPCIONES -->
            <nav class="contenedor-opciones">
                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="/login">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
                    </li>
                    <li>
                        <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- BURGUER MENU -->
        <div class="contenedor-burger-menu">
            <button class="burguer-menu" type="button">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </header>
    <main>
        <form action="" method="POST" class="forms">
            <p>
                <label></label>
                <input type="text" name="nombreUsuario" placeholder="Nombre de usuari@" required>
            </p>

            <p>
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Contraseña" required>
            </p>

            <p>
                <button type="submit"><a href="/">Ingresá</a></button>
            </p>
        </form>
    </main>
</body>

</html>