* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--tipografia);
}

a {
    color: rgb(58, 58, 58);
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    color: var(--gris-oscuro);
    padding: 10px 0px;
    width: 100%;
}

section {
    width: 90%;
    margin: 0 auto;
}

article {
    width: 100%;
    margin-bottom: 10px;
}

/* img.producto {} */

.contenedor-info {
    border-top: solid 1px #ebebeb;
    padding: 0px 15px;
    background-color: white;
}

.contenedor-info i {
    font-size: 15px;
    color: var(--verde);
    padding-left: 5px;
    padding-top: 5px;
}

.circulo {
    border: solid 1px var(--verde);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.precios {
    font-size: 18px;
    padding-top: 10px;
}

.descuentos {
    color: var(--verde);
    font-size: 16px;
    padding-bottom: 15px;
}

.descripciones {
    font-size: 16px;
    padding-bottom: 10px;
}

/* ---------- MEDIA QUERIES ---------- */

/* SMARTPHONES */

@media (max-width: 360px) {
    /* HEADER */

    header form.contenedor-buscador input {
        width: 60%;
    }

    .contenedor-menu {
        display: none;
    }

    .contenedor-opciones {
        display: none;
    }

    /* MAIN */

    .descripciones {
        display: none;
    }
}

/* TABLETS */

@media (min-width:361px) {

    /* HEADER */

    /* LOGO */

    header figure {
        width: 200px;
    }

    header figure img {
        width: 70%;
        padding-bottom: 10px;
    }

    /* BUSCADOR */

    header form.contenedor-buscador {
        display: inline;
    }

    header form.contenedor-buscador input {
        width: 32%;
    }

    .contenedor-burger-menu {
        display: none;
    }

    /* MAIN*/

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

/* DESKTOP */

@media (min-width:769px) {

     /* HEADER */

    /* LOGO */

    header figure {
        width: 200px;
    }

    header figure img {
        width: 70%;
        padding-bottom: 10px;
    }

    /* BUSCADOR */

    header form.contenedor-buscador {
        display: inline;
    }

    header form.contenedor-buscador input {
        width: 32%;
    }

    .contenedor-burger-menu {
        display: none;
    }

    /* MAIN*/

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}