* {
    font-family: var(--tipografia);
    margin: 0;
}

a {
    color: rgb(58, 58, 58);
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    text-align: center;
    color: var(--gris-oscuro);
    padding: 10px;
}

section {
    width: 90%;
    margin: 0 auto;
}

article {
    width: 100%;
    margin-bottom: 10px;
}

img.producto {}

.contenedor-info {
    border-top: solid 1px #ebebeb;
    padding: 0pc 15px;
    background-color: white;
}

.contenedor-info i {
    font-size: 15px;
    color: var(--verde);
    padding-left: 5px;
    padding-top: 5px;
}

.circulo {
    border: solid 1px var(--verde);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.precios {
    font-size: 18px;
    padding-top: 10px;
}

.descuentos {
    color: var(--verde);
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
    padding-bottom: 10px;
}