* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--tipografia);
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    color: var(--gris-oscuro);
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

section {
    width: 90%;
    margin: 0 auto;
}

article {
    width: 100%;
    margin-bottom: 10px;
}

/* img.producto {} */

.contenedor-info {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #ebebeb;
    padding: 0px 15px;
    background-color: white;
}

.contenedor-info i {
    font-size: 15px;
    color: var(--verde);
    padding-left: 10px;
    padding-top: 10px;
}

.circulo {
    align-self: flex-end;
    border: solid 1px var(--verde);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.precios {
    width: 30%;
    font-size: 18px;
}

.descuentos {
    width: 70%;
    color: var(--verde);
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 5%;
    color: var(--gris-oscuro);
    font-weight: 600;
}