main.home {}

/* BANNER */

main.home figure {}

/* SECCIONES */

.contenedor-precio {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 1%;
}

/* ULTIMA VISITA*/

.contenedor-ultima-visita {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.contenedor-ultima-visita h2 {}

.contenedor-ultima-visita article {}

/* OFERTAS */

.contenedor-ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

/* ---------- MEDIA QUERIES ---------- */

/* SMARTPHONES */

@media (max-width: 360px) {
    /* MAIN */

    .descripciones {
        visibility: hidden;
    }
    
    .contenedor-info:hover .descripciones {
        visibility: visible;
    }
}

/* TABLETS */

@media (min-width:361px) {
    /* MAIN*/

    article {
        width: 49%;
    }
}

/* DESKTOP */

@media (min-width:769px) {
    /* MAIN*/

    article {
        width: 23%;
    }
}