.registro {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro h2 {}

.registro form {
    margin: 0 auto;
    width: 90%;
}

.registro form .contenedor-input {
    padding-top: 5%;
}

.registro form .contenedor-input:first-child {
    padding-top: 0px
}

.registro form .contenedor-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.registro form .contenedor-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro form .contenedor-input input:focus {
    box-shadow: 0px 0px 5px cadetblue;
    outline: none;
}

.registro form .nombre {}

.registro form .user {}

.registro form .nacimiento {}

.registro form .domicilio {}

.registro form .perfil {}

.registro form .perfil .contenedor-radio {
    display: flex;
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
}

.registro form .interes {}

.registro form .interes .contenedor-check input {}

.registro form .interes .contenedor-check label {}

.registro form input[type="checkbox"] {
    width: 10% !important;    
}

.registro form .fotoperfil {}

.registro form .password {}

.registro form .password2 {}

.registro form button {
    margin-top: 5%;
    padding: 10px 20px;
    background-color: var(--celeste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registro form button:hover {
    box-shadow: 0px 0px 5px grey;
}

/* ---------- MEDIA QUERIES ---------- */

/* SMARTPHONES */

@media (max-width: 360px) {}

/* TABLETS */

@media (min-width:361px) {
    .registro form .contenedor-input {
        padding: 1%;
    }

    .registro form .perfil .contenedor-radio {
        width: 50%;
        margin-left: 2%;
    }
}

/* DESKTOP */

@media (min-width:769px) {

    .registro form .contenedor-input {
        margin: 0 auto;
    }

    .registro form .contenedor-input input {
        width: 90%;
        padding: 15px;
        font-size: 16px;
    }

    .registro form .contenedor-input label {
        font-size: 20px;
    }

    .registro form .perfil .contenedor-radio {
        width: 30%;
        font-size: 16px;
    }

    .registro form .interes .contenedor-check {
        padding-top: 1%;
    }

    .registro form button {
        margin-top: 3%;
        font-size: 16px;
    }
}

