@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300;1,500&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,500&family=Work+Sans:wght@300;400;700&display=swap');

:root{
    --colorAmarillo :  #EAC926;
    --colorAzul :  #03264C;
    --colorCeleste :  #1259c3;
    --colorGrisOscuro :  #666;
    --colorGrisClaro :  #ebebeb;
    --colorVerde :  #39b54a;
    --tipografiaGeneral : 'Roboto';
}

*{
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

body{
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
}

h2{
    font-size: 24px;
}

/* ESTILOS HEADER */

header{
    background-color: var(--colorAmarillo);
}

.busqueda{
    background-color: var(--colorGrisClaro);
    border:1px solid var(--colorGrisOscuro);
    font-size: 16px;
}

button.btn-burguer{
    background-color:var(--colorCeleste);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.burguer{
    font-size: 15px;
    color: white;
}

/* ESTILOS MAIN */

main{
    background-color: var(--colorGrisClaro);
}

p.compra{
    text-align: center;
}

ul{
    padding: 0px;
}

li{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

p.precios{
    font-size: 18px;
}

p.descuentos{
    font-size: 16px;
}

p.descripciones{
    font-size: 16px;
}

/* ESTILOS FOOTER */

.icon{
    color: var(--colorCeleste);
    font-size: 20px;
}

footer{
    background-color: white;
    text-align: center;
}

footer p{
    color: var(--colorGrisOscuro);
}

p.copy{
    text-align: left;
}